.card {
  height: 100%;
  margin-bottom: 0%;
}

.date {
  text-align: left;
  margin-left: 30%;
}

.seeMore {
  margin-bottom: 5%;
}

.hashTag {
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 5%;
}

.bold {
  font-weight: bold;
}

.comment-avatar {
  border-radius: 50%;
  width: 15%;
  margin-right: 5%;
}

.comment-header {
  display: flex;
  align-items: center;
}